.Country {
  padding: 2px 4px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: default;
}

.Country:hover {
  color: brown;
  text-decoration: underline;
}

.Country.Selected {
  border-color: darkcyan;
  background: lightcyan;
  color: brown;
  text-decoration: underline;
}